@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@500&family=Water+Brush&display=swap');
/* Global */ 

* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    padding: 0; 
    margin: 0;
}

body, form {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

ul {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

hr {
    border-bottom: 0.8px solid #000000;
}

::placeholder  {
    font-size: 1.1rem;
    text-transform: uppercase; 
     
}

.logo-container, .navigation-options {
    box-shadow: -1px -1px #ffffff, -2px -2px #353935, 1px 1px #ffffff, 2px 2px #353935, -3px -3px #ffffff, -4px -4px #353935, 3px 3px #ffffff, 4px 4px #353935,  -4px -4px #ffffff, -5px -5px #353935, 5px 5px #ffffff, 6px 6px #353935, -5px -5px #ffffff, -5px -5px #353935, 6px 6px #ffffff, 7px 7px #353935, -7px -7px #ffffff, -8px -8px #000000;
}

.input-styling {
    font-size: 1.5rem;
}

.logo-mobile-container, .fa-bars {
    box-shadow: -0.5px -0.5px #ffffff, -1px -1px #353935, 0.5px 0.5px #ffffff, 1px 1px #353935, -1.5px -1.5px #ffffff, -2.5px -2.5px #353935,1.5px 1.5px #ffffff, 2.5px 2.5px #353935,  -3px -3px #ffffff, -4px -4px #353935, 3px 3px #ffffff, 4px 4px #353935, -3.5px -3.5px #ffffff, -4.5px -4.5px #353935, 3.5px 3.5px #ffffff, 4.5px 4.5px #353935, -4px -4px #ffffff, -5px -5px #000000;
}

/* Header: Logo, Serach Bar, User Profile & Shopping Bag   */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    margin-top: 20px;
    position: sticky;
    top: 0;
}

/* Logo */

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 125px;
    height: 125px;
    background-color: #000000;
    border-radius: 4px;
}

.logo {
    font-size: 5.5rem;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 3px 3px #353935;
}

.logo-top {
    letter-spacing: 2px;
}

.logo-bottom {
    font-family: 'Water Brush', cursive;
    position: absolute;
    bottom: 3px;
    transform: rotate(-7deg);
    text-shadow: 2px 2px #353935;
    font-size: 4rem;
    margin-left: 15px;
}

/* Serach Bar */

#serach-bar-container {
    width: 20%;
    background-color: #ffffff;
}

.serach-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.serach-bar input {
    width: 100%;
    height: 20px;
    border: none;
    outline: none;
}

.serach-bar-button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.search-icon {
    transform: rotate(90deg);
    margin-right: 5px;
}

/* User Profile & Shopping Bag */

#user-profile-shoppingcart-container {
    text-align: center;
}

#user-profile-shoppingcart-container ul {
    display: flex; 
    flex-direction: row;
}

#user-profile-shoppingcart-container a {
    color: black;
}

#user-profile-container {
    margin-right: 60px;
}

.user-profile-drop-down-menu {
    display: none;  
}

.profile-active {
    display: flex; 
    flex-direction: column;
    position: absolute;
    margin-left: 6px; 
}

.user-profile-drop-down-menu a {
    padding: 5px;
}

/* Footer - */

.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.6rem;
    background-color: #f5f5f5; 
    margin-top: auto;  
}

footer li {
    display: inline-block;
    letter-spacing: 10px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: #000000; 
}

footer ul {
    margin-top: 10px;
}

footer div {
    margin-top: 10px;
}

/* Navigation Menu: Main Navigation & Mobile Header */

/* Main Navigation */

.navigation-bar-container {
    margin-top: 40px;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    position: sticky;
    top: 135px;
}

.navigation-items-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    color: #000000;
}
.navigation-items-container li {
    margin-top: 5px;
}
.navigation-items-container a {
    color: #000000;
    font-size: 1.6rem;
}

.navigation-options h3 {
    font-size: 1.5rem;
}
.navigation-options { 
    background-color: #f5f5f5;
    display: none;
    padding: 10px;
}
.navigation-item:hover .navigation-options{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.navigation-options a {
    font-size: 1.3rem;
    padding-top: 5px;
}

/* Mobile Header: Burger Menu, Serach Icon, Logo, User Profile & Shopping Bag */

.mobile-header-container {
    justify-content: space-between;
    align-items: center;
    display: none;
}

/* Burger Menu & Serach Icon */

.burger-menu-serach-bar-container {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 40px;
}

.fa-bars {
    font-size: 2rem;
    cursor: pointer;
}

.mobile-nav-bar {
    display: none;
}

.mobile-header-icons-divider {
    border-left: 0.8px solid #000000;
    margin-left: 10px;
}

.search-bar-mobile {
    margin-right: 25px;
    cursor: pointer;
}

.mobile-serach-bar-container {
    width: 100%;
    margin-bottom: 0;
    display: none;
    background-color: #ffffff;
}

.search-icon-mobile {
    margin-left: 20px;
}

.active {
    display: block;
}

/* Logo */

.logo-mobile-container {
    width: 85px;
    height: 85px;
    box-shadow: -0.5px -0.5px #ffffff, -1px -1px #353935, 0.5px 0.5px #ffffff, 1px 1px #353935, -1.5px -1.5px #ffffff, -2.5px -2.5px #353935,1.5px 1.5px #ffffff, 2.5px 2.5px #353935,  -3px -3px #ffffff, -4px -4px #353935, 3px 3px #ffffff, 4px 4px #353935, -3.5px -3.5px #ffffff, -4.5px -4.5px #353935, 3.5px 3.5px #ffffff, 4.5px 4.5px #353935, -4px -4px #ffffff, -5px -5px #000000;
}

.logo-mobile {
    font-size: 3.5rem;
    text-shadow: 2px 2px #353935;
}

.logo-mobile-bottom {
    font-size: 2rem;
    bottom: -3px;
}

/* User Profile & Shopping Bag */

.user-profile-cart-mobile-container {
    margin-right: 40px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    letter-spacing: 0;
}

/* Media Queries */ 

@media only screen and (max-width: 900px) {
    .main-header {
        display: none;
    }

    .mobile-header-container {
        display: flex;
        align-items: center; 
        height: 60px;
        margin-top: 0px;
    }

    .main-navigation {
        display: none;
        position: absolute;
        top: 70px;
        background-color: #f5f5f5;

    }
    
    .nav-active {
        display: block;
    }
    
    .navigation-bar-container {
        background-color: #ffffff;
    }

    .navigation-items-container {
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
    }
    
    .navigation-options h3 {
        font-size: 1.3rem;
    }

    .navigation-items-container a {
        font-size: 1.2rem;
    }
    
    .navigation-item:hover .navigation-options{
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    
    .navigation-options a {
        font-size: 1.1rem;
        padding-top: 5px;
    }

   
}