@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@500&family=Water+Brush&display=swap');
/* Global */ 

* {
    padding: 0; 
    margin: 0;
}

html{
    font-size: 62.5%;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

ul {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}


hr {
    border-bottom: 0.5px solid #000000;
   
}

::placeholder {
    font-size: 1.1rem;
    text-transform: uppercase;
  }

/* Header - Logo, Serach Bar, Account & Basket  */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    margin-top: 20px;
    position: sticky;
    top: 0;
}

#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 125px;
    height: 125px;
    background-color: #000000;
    border-radius: 4px;
    box-shadow: -1px -1px #ffffff, -2px -2px #353935, 1px 1px #ffffff, 2px 2px #353935, -2px -2px #ffffff, -3px -3px #353935, 3px 3px #ffffff, 4px 4px #353935,  -4px -4px #ffffff, -5px -5px #353935, 5px 5px #ffffff, 6px 6px #353935, -6px -6px #ffffff 
}

.logo {
    font-size: 5.5rem;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 3px 3px #353935;
}

.logo-top {
    letter-spacing: 2px;
}

.logo-bottom {
    font-family: 'Water Brush', cursive;
    position: absolute;
    bottom: 3px;
    transform: rotate(-7deg);
    text-shadow: 2px 2px #353935;
    font-size: 4rem;
    margin-left: 15px;
}


#serach-bar-container {
    width: 20%;
}

.serach-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.serach-bar input {
    width: 100%;
    height: 20px;
    border: none;
    outline: none;
}

.serach-bar-button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.search-icon {
    transform: rotate(90deg);
    margin-right: 5px;
}

#user-profile-shoppingcart-container {
    text-align: center;
}

#user-profile-shoppingcart-container ul {
    display: flex; 
    flex-direction: row;
}

#user-profile-shoppingcart-container a {
    color: black;
}

#user-profile-container {
    margin-right: 60px;
}

.user-profile-drop-down-menu {
    display: none;  
}

.profile-active {
    display: flex; 
    flex-direction: column;
    position: absolute;
    margin-left: 6px; 
}

.user-profile-drop-down-menu a {
    padding: 5px;
}

/* Footer - */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.6rem;
    background-color: #f5f5f5;
}

footer li {
    display: inline-block;
    letter-spacing: 10px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: #000000; 
}

footer ul {
    margin-top: 10px;
}

footer div {
    margin-top: 10px;
}


/* Navigation Menu - */

.navigation-bar-container {
    margin-top: 40px;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.navigation-items-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    color: #000000;
}

.navigation-items-container li {
    margin-top: 5px;
}


.navigation-items-container a {
    color: #000000;
    font-size: 1.6rem;
}

.navigation-options h3 {
    font-size: 1.5rem;
}

.navigation-options { 
    background-color: #f5f5f5;
    display: none;
    padding: 10px;
}

.navigation-item:hover .navigation-options{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.navigation-options a {
    font-size: 1.3rem;
    padding-top: 5px;
}


