<div class="navigation-bar-container">
    <div class="main-navigation">
        <ul class="navigation-items-container">
            <div>
                <li class="navigation-item js-nav-button-skincare">
                    <h2>
                        <a href=""><strong>SKINCARE</strong></a>
                    </h2>
                </li>
            </div>
           

            <li class="navigation-item js-nav-button-brands">
                <h2>
                    <a href=""><strong>BRANDS</strong></a>
                </h2>
            </li>
    
            <li class="navigation-item js-nav-button-skin-type">
                <h2>
                    <a href=""><strong>SKIN TYPE</strong></a>
                </h2>
            </li>
    
            <li class="navigation-item js-nav-button-skin-concern">
                <h2>
                    <a href=""><strong>SKIN CONCERN</strong></a>
                </h2>
            </li>
        </ul>
    </div>
</div>

<div class="navigation-options-contianer skincare-container main-navigation">
    <div class="navigation-options">
        <h3><strong>FACE</strong></h3>
        <a href=""><strong>Cleanser</strong></a>
        <a href=""><strong>Exfoliator</strong></a>
        <a href=""><strong>Toner</strong>,<strong>Essence</strong>&<strong>Mist</strong></a>
        <a href=""><strong>Serum</strong>&<strong>Ampoule</strong></a>
        <a href=""><strong>Eye Care</strong>&<strong>Lip Care</strong></a>
        <a href=""><strong>Skin Treatment</strong></a>
        <a href=""><strong>Moisturiser</strong></a>
        <a href=""><strong>Sunscreen</strong></a>
        <br>
        <h3><strong>BODY</strong></h3>
        <a href=""><strong>Body Cleanser</strong></a>
        <a href=""><strong>Body Moisturiser</strong></a>
        <a href=""><strong>Hand Care</strong></a>
        <a href=""><strong>Foot Care</strong></a>
        <a href=""><strong>Body Cleanser</strong></a>
        <a href=""><strong>Body Moisturiser</strong></a>
        <a href=""><strong>Hand Care</strong></a>
        <a href=""><strong>Foot Care</strong></a>
    </div>
</div>

<div class="navigation-options-contianer brands-container">
    <div class="navigation-options">
        <h3><strong>BRANDS A - Z </strong></h3>
        <a href=""><strong>TEST</strong></a>
        <a href=""><strong>TEST</strong></a>
    </div>
</div>

<div class="navigation-options-contianer skin-type-container">
    <div class="navigation-options">
        <a href=""><strong>Normal Skin</strong></a>
        <a href=""><strong>Dry Skin</strong></a>
        <a href=""><strong>Combination Skin</strong></a>
        <a href=""><strong>Oily Skin</strong></a>
        <a href=""><strong>Sensitive Skin</strong></a>
    </div>
</div>

<div class="navigation-options-contianer skin-concern-container">
    <div class="navigation-options">
        <a href=""><strong>Acne</strong></a>
        <a href=""><strong>Dark Spots</strong></a>
        <a href=""><strong>Anti-aging</strong></a>
        <a href=""><strong>Wrinkles</strong></a>
        <a href=""><strong>Uneven Skin Tone</strong></a>
        <a href=""><strong>Wrinkles</strong></a>
        <a href=""><strong>Textured Skin</strong></a>
        <a href=""><strong>Congestion</strong></a>
        <a href=""><strong>Compromised Skin Barrier</strong></a>
        <a href=""><strong>Sun Damage</strong></a>
        <a href=""><strong>Blackheads</strong></a>
        <a href=""><strong>Enlarged Pores</strong></a>
        <a href=""><strong>Oil Control</strong></a>
        <a href=""><strong>Irritation</strong></a>
        <a href=""><strong>Radiance</strong></a>
        <a href=""><strong>Dullness</strong></a>
        <a href=""><strong>Rough & Bumpy Skin</strong></a>
        <a href=""><strong>Calming Hydration</strong></a>
        <a href=""><strong>Dryness</strong></a>
    </div>
</div>

