<div id="navigation-items-container">
    <ul id="navigation-items">
        <li>
            <h2>
                <a><strong>SKINCARE</strong></a>
            </h2>
            <div>
                <h3><strong>FACE</strong></h3>
                <a href=""><strong>Cleanser</strong></a>
                <a href=""><strong>Exfoliator</strong></a>
                <a href=""><strong>Toner</strong>,<strong>Essence</strong>&<strong>Mist</strong></a>
                <a href=""><strong>Serum</strong>&<strong>Ampoule</strong></a>
                <a href=""><strong>Eye Care</strong>&<strong>Lip Care</strong></a>
                <a href=""><strong>Skin Treatment</strong></a>
                <a href=""><strong>Moisturiser</strong></a>
                <a href=""><strong>Sunscreen</strong></a>
                <h2><strong>BODY</strong></h2>
                <a href=""><strong>Body Cleanser</strong></a>
                <a href=""><strong>Body Moisturiser</strong></a>
                <a href=""><strong>Hand Care</strong></a>
                <a href=""><strong>Foot Care</strong></a>
            </div>
        </li>
        <li>
            <h2>
                <a><strong>BRANDS</strong></a>
            </h2>
        </li>

        <li>
            <h2>
                <a><strong>SKIN TYPE</strong></a>
            </h2>
            
            <div>
                <a href=""><strong>Normal</strong></a>
                <a href=""><strong>Dry</strong></a>
                <a href=""><strong>Combination</strong></a>
                <a href=""><strong>Oily</strong></a>
                <a href=""><strong>Sensitive Skin</strong></a>
            </div>
        </li>

        <li>
            <h2>
                <a>SKIN CONCERN</a>
            </h2>
            <a href="">Acne</a>
            <a href="">Exfoliator</a>
            <a href="">Toner, Essence & Mist</a>
            <a href="">Serum & Ampoule</a>
            <a href="">Eyes & Lips</a>
            <a href="">Treatment</a>
            <a href="">Moisturiser</a>
            <a href="">Sunscreen</a>
            <h2>BODY</h2>
            <a href="">Body Cleanser</a>
            <a href="">Body Moisturiser</a>
            <a href="">Hand Care</a>
            <a href="">Foot Care</a>
        </li>

    </ul>
</div>