<header id="mobile-header-container">
    <div class="burger-menu-serach-bar-container">
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="mobile-header-icons-divider"></div>
        
          <!-- Serach Bar Icon -->
          <div class="serach-bar-container">
                <span class="material-symbols-outlined search-bar-mobile">search</span>
          </div>
    </div>

    <!-- Logo -->
    <div class="logo-container logo-mobile-container">
        <a href="{% url 'home' %}">
            <br>
            <span class="logo logo-top logo-mobile logo-mobile-top"><strong>Skin</strong></span>
            <br>
            <span class=" logo logo-bottom logo-mobile logo-mobile-bottom"><strong>Cared!</strong></span>

        </a>
    </div>

    <div id="user-profile-shoppingcart-container" class="user-profile-cart-mobile-container">
        <ul>
            <div class="user-profile-container-mobile">
                <li>
                    <br>
                    <div class="profile-icon">
                        <a href="#">
                            <span class="material-symbols-outlined">person</span>
                            <p>MY ACCOUNT</p>
                        </a>
                    </div>
                  
                    <div class="user-profile-drop-down-menu">
                        {% if request.useris_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="">PRODUCT MANAGEMENT</a>
                            {% endif %}
                            <a href="">PROFILE</a>
                            <a href="{% url 'account_logout' %}">LOGOUT</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}">REGISTER</a>
                            <a href="{% url 'account_login' %}">LOGIN</a>
                        {% endif %}
                    </div>
                </li>
            </div>
            <li class="shopping-bag">
                <br>
                <a href="">
                    <span class="material-symbols-outlined">shopping_bag</span>
                    <p>SHOPPING BAG
                        <br>
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                    {% else %}
                        $0.00
                    </p>
                 
                {% endif %}
                </a>
            </li>
        </ul>
    </div>
</header>

 <!-- Mobile Drop Down Search Bar -->
 <div class="mobile-serach-bar-container">
    <hr>
    <form method="GET" action="">
        <div class="serach-bar">
            <button class="serach-bar-button">
                <span class="material-symbols-outlined search-icon-mobile">search</span>
            </button>
            <input  type="text" name="q" placeholder="search for products, brands, specific skin concern or type">
        </div>
        <hr>
    </form>
</div>

<div class="mobile-navigation-container">
    <div>
        <h2 class="mobile-header-title">MENU</h2>
    </div>
    <ul class="mobile-navigation-menus">
        <li class="navigation-item-mobile">
            <hr>
            <h2>
                <a href=""><strong>SKINCARE</strong></a>
            </h2>
            <div class="navigation-options-mobile mobile-dropdown">
                <h3><strong>FACE</strong></h3>
                <a href=""><strong>Cleanser</strong></a>
                <a href=""><strong>Exfoliator</strong></a>
                <a href=""><strong>Toner</strong>,<strong>Essence</strong>&<strong>Mist</strong></a>
                <a href=""><strong>Serum</strong>&<strong>Ampoule</strong></a>
                <a href=""><strong>Eye Care</strong>&<strong>Lip Care</strong></a>
                <a href=""><strong>Skin Treatment</strong></a>
                <a href=""><strong>Moisturiser</strong></a>
                <a href=""><strong>Sunscreen</strong></a>
                <br>
                <h3><strong>BODY</strong></h3>
                <a href=""><strong>Body Cleanser</strong></a>
                <a href=""><strong>Body Moisturiser</strong></a>
                <a href=""><strong>Hand Care</strong></a>
                <a href=""><strong>Foot Care</strong></a>
            </div>
        </li>

        <li class="navigation-item-mobile">
            <hr>
            <h2>
                <a href=""><strong>BRANDS</strong></a>
            </h2>
            <div class="navigation-options-mobile mobile-dropdown">
                <a href=""><strong>A - Z</strong></a>
            </div>
        </li>

        <li class="navigation-item-mobile">
            <hr>
            <h2>
                <a href=""><strong>SKIN TYPE</strong></a>
            </h2>
            <div class="navigation-options-mobile mobile-dropdown">
                <a href=""><strong>Normal Skin</strong></a>
                <a href=""><strong>Dry Skin</strong></a>
                <a href=""><strong>Combination Skin</strong></a>
                <a href=""><strong>Oily Skin</strong></a>
                <a href=""><strong>Sensitive Skin</strong></a>
            </div>
        </li>

        <li class="navigation-item-mobile">
            <hr>
            <h2>
                <a href=""><strong>SKIN CONCERN</strong></a>
            </h2>
            <hr>
            <div class="navigation-options-mobile mobile-dropdown">
                <a href=""><strong>Acne</strong></a>
                <a href=""><strong>Dark Spots</strong></a>
                <a href=""><strong>Anti-aging</strong></a>
                <a href=""><strong>Wrinkles</strong></a>
                <a href=""><strong>Uneven Skin Tone</strong></a>
                <a href=""><strong>Textured Skin</strong></a>
                <a href=""><strong>Congestion</strong></a>
                <a href=""><strong>Compromised Skin Barrier</strong></a>
                <a href=""><strong>Sun Damage</strong></a>
                <a href=""><strong>Blackheads</strong></a>
                <a href=""><strong>Enlarged Pores</strong></a>
                <a href=""><strong>Oil Control</strong></a>
                <a href=""><strong>Irritation</strong></a>
                <a href=""><strong>Radiance</strong></a>
                <a href=""><strong>Dullness</strong></a>
                <a href=""><strong>Rough & Bumpy Skin</strong></a>
                <a href=""><strong>Calming Hydration</strong></a>
                <a href=""><strong>Dryness</strong></a>
                <a href=""><strong>Dryness</strong></a>
            </div>
        </li>
    </ul>
</div>   