{% load static %}
<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="SkinCared is a B2C, E-commerce web application that specialises in the procurement and selling of the worlds finest Eastern & Western skincare brands.">
        <meta name="keywords" content="">
        <meta name="author" content="Faris Dhoot">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Google Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- FontAwesome-->  
    <script src="https://kit.fontawesome.com/cd2a226592.js" crossorigin="anonymous"></script>

    <!-- jQuery, Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>SkinCared {% block extra_title %}{% endblock %}</title>
  </head>

  <body>
    <header>
        <!-- Logo -->
        <div id="logo-container">
            <a href="{% url 'home' %}">
                <span id="logo"><strong>S</strong>kin<strong>C</strong>are<strong>D</strong></span>
            </a>
            <p id="logo-slogan"><strong>Science | Cosmetics | Dermatology</strong></p>
        </div>
        
        <!-- Serach Bar -->
        <div id="serach-bar">
            <form method="GET" action="">
                <div>
                    <input type="text" name="q" placeholder="Serach for products, brands and inspiration">
                        <button id="serach-bar-button">
                            <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </button>
                </div>
            </form>
        </div>

        <div id="user-profile-shoppingcart-container">
            <ul>
                <div id="user-profile-container">
                    <li>
                        <div id="profile-icon">
                            <a href="#">
                                <span class="material-symbols-outlined">person</span>
                                <p>MY ACCOUNT</p>
                            </a>
                        </div>
                      
                        <div class="user-profile-drop-down-menu">
                            {% if request.useris_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="">PRODUCT MANAGEMENT</a>
                                {% endif %}
                                <a href="">PROFILE</a>
                                <a href="{% url 'account_logout' %}">LOGOUT</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}">REGISTER</a>
                                <a href="{% url 'account_login' %}">LOGIN</a>
                            {% endif %}
                        </div>
                    </li>
                </div>

                <li>
                    <a href="">
                        <span class="material-symbols-outlined">shopping_bag</span>
                        <p>SHOPPING BAG
                            {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                        {% else %}
                            $0.00
                        </p>
                     
                    {% endif %}
                    </a>
                </li>
            </ul>
        </div>

    </header>

        <!-- Navigation Bar -->
        <nav id="navigation-bar">
            <ul>
                <li>
                    <a>Skincare</a>
                </li>
                <li>
                    <a>Brands</a>
                </li>
                <li>
                    <a>Skin Type</a>
                </li>
                <li>
                    <a>Skin Concern</a>
                </li>
            </ul>

        </nav>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer> Footer Section </footer>

    {% block postloadjs %}
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
    
  </body>
</html>